# Virtual environments
.venv/
venv/
env/
ENV/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# IDE configurations
.vscode/
.idea/

# Distribution / packaging
build/
dist/
*.egg-info/

# Ignore SQLite database files
*.sqlite3
*.db
